/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

html {
  background-image: url(image-path('wood.jpeg'));

}
h1, h2, h3, h4, h5 {
  color: #FFF;
}

.boldy {
  font-weight: bolder;
}

.avatar-style {
  width: 25px;
}
.share-btn {
  margin: 15px 10px;
}
.post-holder {
  background-color: #CCB299;
}
.each-post {
  margin: 2px;
  opacity: 1;
  padding: 10px;
  background-color: #CCB299;
  border-width: 2px;
  border-style: solid;
  border-color: #996633;
  border-radius: 3px;
}
.each-title {
  font-size: 2.3em;
  font-weight: bold;
}
.each-title img {
  display: block;
  margin: 0 auto;
  align: center;
  max-width: 100%
}
.each-caption {
  font-size: 100%
}
.each-body {
  display: block;
  margin: 0 auto;
  font-size: 1em;
}
.ruler-color {
  border-color: #CCB299;
  border-width: 1.5px;
  margin-bottom: 3px;
}
.t-logo {
  display: block;
  margin: 0px auto;
  height: 100px;
}
.image-style {
  display: block;
  margin: 0px auto;
}

.shadow {
  -moz-box-shadow:    .5px .5px 1px 1px #996633;
  -webkit-box-shadow: .5px .5px 1px 1px #996633;
  box-shadow:         .5px .5px 1px 1px #996633;
}
.image-frame {
  border: 1px solid #996633;
  border-radius: 5px;
}
.reblog-button {
  display:inline-block;
  text-indent:-9999px;
  margin: 3px 0px;
  overflow:hidden;
  width:129px;
  height:20px;
  background:url('http://assets.tumblr.com/images/iframe_reblog_alpha.png?4') no-repeat transparent;
}
.asked-by {
  display: block;
  text-align: right;
}
