/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.boldy {
  font-weight: bolder;
}

.avatar-style {
  width: 25px;
}
.share-btn {
  margin: 10px 10px;
}
.each-post {
  opacity: 1;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #FFF;
  border-width: 1px;
  border-style: solid;
  border-color: #f2f2f5;
  border-radius: 3px;
}
.each-title {
  font-size: 1.1em;
  font-weight: bold;
}
.each-caption {
  font-size: 100%
}
.each-body {
  font-size: 1em;
}
.ruler-color {
  border-color: #2ca5de;
  border-width: 1.5px;
  margin-bottom: 3px;
}
